.wrapper {
    display: flex;
    flex: 1 1 100%;
    min-width: 0;
    background-color: #F0F2F8;
}

.nav {
    display: flex;
}

.maincont {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 2rem 1rem;
    width: 100%;
}