.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8rem;
}

.loginbg {
    background-color:bisque;
}

.divider {

}


.singupbg {
    background-color:burlywood;
}


.inputs {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}